html {
  scroll-behavior: smooth;
}

body {
  color: rgb(72, 117, 160);
  background: #fff;
}
@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&display=swap");

/* @theme{
  font-family: 'Libertinus Sans', sans-serif;
  --font-sans: 'Libertinus Sans', sans-serif;
  --font-serif: 'Libertinus Sans', serif;
  --font-mono: 'Libertinus Sans', monospace;
} */
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  } /* moves half since we duplicated array */
}

.animate-scroll-left {
  animation: scroll-left 20s linear infinite;
}
